
$primary:       #f2bbd0 !default;
$secondary:     #c4bced !default;

$primary-gradient:            $secondary !default;
$primary-gradient-state:      $primary !default;

$secondary-gradient:        #c5eefb !default;
$secondary-gradient-state:  #c4bced  !default;